.style-footer {
  display: flex;
  background-color: #2f303a;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 100%;
  justify-content: center;
  text-align: left;
  padding: 60px 0px;
}
.footer {
  display: flex;
}
.footer__logo--color {
  color: #ffffff;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer-address__link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-address__item {
  font-style: normal;
  list-style-type: none;
}
.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  margin-right: 70px;
}

.social-links__title,
.newsletter__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 12px;
}

.footer-social__svg {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  width: 44px;
  height: 44px;
  background-position: 12px 12px;
  border-radius: 50%;
  cursor: pointer;
}
.footer-social__svg:hover,
.footer-social__svg:focus {
  background-color: #2196f3;
  fill: #ffffff;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social {
  display: flex;
  justify-content: center;
  margin-right: 70px;
}
.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__item {
  width: 44px;
  margin-bottom: 30px;
  box-shadow: none;
  margin-right: 0px;
}

.form-newsletter {
  display: flex;
}
.form-newsletter__input {
  width: 358px;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.form-newsletter__button {
  position: relative;
  width: 200px;
  height: 50px;
  justify-content: center;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  margin-left: 12px;
  cursor: pointer;
}
.form-newsletter__button--position {
  display: inline-block;
  position: relative;
  top: -5px;
}
.form-newsletter__svg {
  background-color: #2196f3;
  width: 48px;
  height: 30px;
}
